:root {
    --bs-primary: #1ABC9B;
    --bs-primary-rgb: 26, 188, 155;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: auto;
}

.color_header_footer {
    background-color: #2B3E50;
}

.color_last_section {
    background-color: #39546D;
}

/* Next selector puts padding to counter 
the default margin of ul in bootstrap, 
or else coldn't align with left side */

#nav_right {
    font-size: 12px;
    padding-top: 15px; 
}

#jumbo_img {
    width: 200px;
}

.star_container > i {
    font-size: 25px;
}

#star_div {
    margin-left: 1%;
    margin-right: 1%;
    width: 15%;
    max-width: 100px;
    height: 2px;
    background-color: #FFFFFF;
}




/* TO DELETE ONCE OVER, TAGS, CLASSES */

section {
    height: 600px;
}

footer {
    height: 200px;
}

.col, .col-6, .col-3 {
    height: 50px;
}



/* TO DELETE ONCE OVER, SNIPPETS */

border border-danger