:root {
    --bs-primary: #1ABC9B;
    --bs-primary-rgb: 26, 188, 155;
}

.color_header_footer {
    background-color: #2B3E50;
}

.color_last_section {
    background-color: #39546D;
}





/* TO DELETE ONCE OVER, TAGS, CLASSES */

section {
    height: 600px;
}

header, footer {
    height: 200px;
}

.col, .col-6, .col-3 {
    height: 50px;
}

[class*="container"] {
    height: 100%;
}


/* TO DELETE ONCE OVER, SNIPPETS */

border border-danger